.ant-layout-sider,.ant-layout-sider-trigger,.site-layout-background{
    background-color: #fff;
}
.header-content{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.homelogo{
    width: 60px ;
}